O Sr. Manoel Joaquim possui uma grande loja de artigos de R$ 1,99, com cerca de 10 caixas. Para agilizar o cálculo de 
quanto cada cliente deve pagar ele desenvolveu um tabela que contém o número de itens que o cliente comprou e ao lado 
o valor da conta. Desta forma a atendente do caixa precisa apenas contar quantos itens o cliente está levando e olhar na 
tabela de preços. Você foi contratado para desenvolver o programa que monta esta tabela de preços, que conterá os preços 
de 1 até 50 produtos, conforme o exemplo abaixo: 

a. Lojas Quase Dois - Tabela de preços 
b. 1 - R$ 1.99 
c. 2 - R$ 3.98 
d. ... 
e. 50 - R$ 99.50

In [11]:
print ("Tabela de preço:")
for i in range (1,51):
    print (f"{i} = R$ {i*1.99:.2f}")

Tabela de preço:
1 = R$ 1.99
2 = R$ 3.98
3 = R$ 5.97
4 = R$ 7.96
5 = R$ 9.95
6 = R$ 11.94
7 = R$ 13.93
8 = R$ 15.92
9 = R$ 17.91
10 = R$ 19.90
11 = R$ 21.89
12 = R$ 23.88
13 = R$ 25.87
14 = R$ 27.86
15 = R$ 29.85
16 = R$ 31.84
17 = R$ 33.83
18 = R$ 35.82
19 = R$ 37.81
20 = R$ 39.80
21 = R$ 41.79
22 = R$ 43.78
23 = R$ 45.77
24 = R$ 47.76
25 = R$ 49.75
26 = R$ 51.74
27 = R$ 53.73
28 = R$ 55.72
29 = R$ 57.71
30 = R$ 59.70
31 = R$ 61.69
32 = R$ 63.68
33 = R$ 65.67
34 = R$ 67.66
35 = R$ 69.65
36 = R$ 71.64
37 = R$ 73.63
38 = R$ 75.62
39 = R$ 77.61
40 = R$ 79.60
41 = R$ 81.59
42 = R$ 83.58
43 = R$ 85.57
44 = R$ 87.56
45 = R$ 89.55
46 = R$ 91.54
47 = R$ 93.53
48 = R$ 95.52
49 = R$ 97.51
50 = R$ 99.50